<!--This is the page where we will view the Genres of movies (not the movies themselves!)-->
<!--Insert model type here (presumably MovieDB.Genre or something of the like)-->

@{
    ViewBag.Title = "MovieLib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieLib</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Genres</title>
</head>
<body>
    <table class="table">
        <!-- tr == Table Row-->
        <tr>
            <!--th == Table Header for cell-->
            <th>Genre</th>
        </tr>
    </table>
</body>
</html>