<!--When we click a Genre, we will see its movies listed here-->

@{
    ViewBag.Title = "Movies in Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies by Genre</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies by Genre</title>
</head>
<body>
    <div>
    <table class="table">
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
            <th>Runtime</th>
            <th>Release Year</th>
        </tr>
        <!--The next rows are for the movies themselves-->
    </table>
    </div>
</body>
</html>
