@{
    ViewBag.Title = "Account";
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Account info</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
