@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <p>
            @Html.DisplayText("Email: ");
            @Html.TextBox("Email");
        </p>
        <p>
            @Html.DisplayText("Password: ");
            @Html.Password("password");
        </p>
    </div>
</body>
</html>
